@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.show {
    display: block;
}
  
.hide {
    display: none;
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;
}
  
.modal-add {
    width: 40%;
    height: auto;
    position: fixed;
    margin: -55rem 23%;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 15px;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    box-shadow: 0 2px 25px rgba(91, 91, 91, 0.5);
    font-family: Helvetica, Arial, sans-serif;
}
.modal-add h4 {
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.modal-add label {
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.modal-add input{
    width: 70%;
    bottom: 30px;
    border: none;
    padding-left: 30px;
    background: transparent;
    transition: all .25s ease;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    outline: none;
}
.modal-add input:hover{
    outline: none;
}
.modal-add input:focus{
    outline: none;
}
.btnsave {
    cursor: pointer;
    background-color: #404040;
    color: #f9f9f9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 50px;

}
.btnsave:hover {
    background-color: #606060;
}
.btnexit {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: #f9f9f9;
    border-radius: 50px;
    overflow: hidden;
}
.modal-add hr {
    margin: 20px 0;
}
.add_mod {
    margin-top: 50px;
    margin-bottom: 25px;
}